# Configuración del backend web
PORT=3000
DATABASE_PATH=../data/snowflake.db
FRONTEND_URL=http://localhost:5173
DISCORD_CLIENT_ID=1052318909035970641
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/api/auth/discord/callback
SESSION_SECRET=cambiar-esto-en-produccion
WEB_PANEL_API_KEY=

SNOWFLAKE_ENV=local
NODE_ENV=development
BIND_HOST=127.0.0.1

# Bot Discord (para saber en qué servidores ya está el bot)
DISCORD_TOKEN=
BOT_API_URL=http://127.0.0.1:8080
BOT_INTERNAL_SECRET=
